<div class="background bg-dark">
			<img  src="../assets/img/bg-modern-wide.png" alt="" class="">
		</div>
		<div class="wrapper">
			<!-- main container starts -->
			<div class="main-container">
				<!-- Begin page content -->
				<div class="container">
					<div class="row align-items-center vhi-100">
						<div class="col-12 text-center">
							<img src="assets/img/4042.png" alt="" class="mw-100">
						</div>
						<div class="col-12 text-center">
							<h1 class="display-2 mt-0 text-white ">Page not found</h1>
							<br>
							<p class="lead text-white">Page might be removed or deleted or might be you enter wrong url.</p>
							<br>
							<button class="btn btn-success z1 btn-rounded " type="button">
								<span class="icon fa fa-angle-double-left mr-2"> </span>Back to Home
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- main container ends -->
		</div>
		
		<!-- footer starts -->
		<footer class="footer bg-dark" style="position:relative; z-index: 4">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 col-md-6">This template is designed with <i class="text-danger fa fa-heart"></i> by <a href="http://www.maxartkiller.in" target="_blank" class="">www.maxartkiller.in</a> <img src="assets/img/flag.png" alt="India"></div>
					<div class="col-12 col-md-6 text-right"><a target="_blank" class="">Privacy Policy</a> | <a target="_blank" class="">Terms of use</a></div>
				</div>
			</div>
		</footer>
		<!-- footer ends -->
		
