<div class="container-fluid">
	<div class="row">
		<div class="container">
			<div class="row page-title-row">
				<div class="col-sm-12 col-md-6">
					<h2 class="page-title">Grid</h2>
					<p>Bootstrap Admin Dashboard Template with wide range
						components</p>
				</div>
				<div class="col-sm-12 col-md-6 text-right align-self-center">
					<button type="button" class="btn btn-success" data-toggle="tooltip"
						title="Buy Now!">
						<i class="fa fa-shopping-cart"></i>
					</button>
					<button type="button" class="btn btn-primary ml-2"
						data-toggle="tooltip" title="Setting" id="theme-setting">
						<i class="fa fa-cogs"></i>
					</button>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Begin page content -->
<div class="container">
	<h5 class="f-light sub-title">
		<i class="mr-2 fa fa-th"></i>12 col grid
	</h5>
	<div class="row no-gutters">
		<div class="col-12 col-sm-3 col-md-4 col-lg-1">
			<div class="w-100 p-3 text-center border border-light bg-white">One</div>
		</div>
		<div class="col-12 col-sm-3 col-md-4 col-lg-1">
			<div class="w-100 p-3 text-center border border-light bg-white">Two</div>
		</div>
		<div class="col-12 col-sm-3 col-md-4 col-lg-1">
			<div class="w-100 p-3 text-center border border-light bg-white">Three</div>
		</div>
		<div class="col-12 col-sm-3 col-md-4 col-lg-1">
			<div class="w-100 p-3 text-center border border-light bg-white">Four</div>
		</div>
		<div class="col-12 col-sm-3 col-md-4 col-lg-1">
			<div class="w-100 p-3 text-center border border-light bg-white">Five</div>
		</div>
		<div class="col-12 col-sm-3 col-md-4 col-lg-1">
			<div class="w-100 p-3 text-center border border-light bg-white">Six</div>
		</div>
		<div class="col-12 col-sm-3 col-md-4 col-lg-1">
			<div class="w-100 p-3 text-center border border-light bg-white">Seven</div>
		</div>
		<div class="col-12 col-sm-3 col-md-4 col-lg-1">
			<div class="w-100 p-3 text-center border border-light bg-white">Eight</div>
		</div>
		<div class="col-12 col-sm-3 col-md-4 col-lg-1">
			<div class="w-100 p-3 text-center border border-light bg-white">Nine</div>
		</div>
		<div class="col-12 col-sm-3 col-md-4 col-lg-1">
			<div class="w-100 p-3 text-center border border-light bg-white">Ten</div>
		</div>
		<div class="col-12 col-sm-3 col-md-4 col-lg-1">
			<div class="w-100 p-3 text-center border border-light bg-white">Eleven</div>
		</div>
		<div class="col-12 col-sm-3 col-md-4 col-lg-1">
			<div class="w-100 p-3 text-center border border-light bg-white">Twelve</div>
		</div>
	</div>
	<br>
	<h5 class="f-light sub-title">
		<i class="mr-2 fa fa-th"></i>Column structure
	</h5>
	<div class="row no-gutters">
		<div class="col-sm">
			<div class="w-100 p-3 text-center border border-light bg-white">One
				of three columns</div>
		</div>
		<div class="col-sm-6">
			<div class="w-100 p-3 text-center border border-light bg-white">Two
				of three columns col-sm-6</div>
		</div>
		<div class="col-sm">
			<div class="w-100 p-3 text-center border border-light bg-white">Three
				of three columns</div>
		</div>
	</div>
	<br>
	<h5 class="f-light sub-title">
		<i class="mr-2 fa fa-th"></i>Equal width
	</h5>
	<div class="row no-gutters">
		<div class="col">
			<div class="w-100 p-3 text-center border border-light bg-white">One</div>
		</div>
		<div class="col">
			<div class="w-100 p-3 text-center border border-light bg-white">Two</div>
		</div>
		<div class="col">
			<div class="w-100 p-3 text-center border border-light bg-white">Three</div>
		</div>
		<div class="col">
			<div class="w-100 p-3 text-center border border-light bg-white">Four</div>
		</div>
		<div class="col">
			<div class="w-100 p-3 text-center border border-light bg-white">Five</div>
		</div>
	</div>
	<br>
	<h5 class="f-light sub-title">
		<i class="mr-2 fa fa-th"></i>Variable/Auto width
	</h5>
	<div class="row no-gutters  justify-content-md-center">
		<div class="col-2">
			<div class="w-100 p-3 text-center border border-light bg-white">One
				col-2</div>
		</div>
		<div class="col-2">
			<div class="w-100 p-3 text-center border border-light bg-white">Two
				col-2</div>
		</div>
		<div class="col-auto">
			<div class="w-100 p-3 text-center border border-light bg-white">Three
				Variable width content</div>
		</div>
		<div class="col-2">
			<div class="w-100 p-3 text-center border border-light bg-white">Four
				col-2</div>
		</div>
	</div>
	<div class="row no-gutters mt-2">
		<div class="col-2">
			<div class="w-100 p-3 text-center border border-light bg-white">One
				col-2</div>
		</div>
		<div class="col">
			<div class="w-100 p-3 text-center border border-light bg-white">Two
				col</div>
		</div>
		<div class="col-auto">
			<div class="w-100 p-3 text-center border border-light bg-white">Three
				Variable width content</div>
		</div>
		<div class="col-2">
			<div class="w-100 p-3 text-center border border-light bg-white">Four
				col-2</div>
		</div>
	</div>
	<br>
	<h5 class="f-light sub-title">
		<i class="mr-2 fa fa-th"></i>Responsive classes
	</h5>
	<div class="row no-gutters mt-2">
		<div class="col-12 col-md-8">
			<div class="w-100 p-3 text-center border border-light bg-white">.col-12
				.col-md-8</div>
		</div>
		<div class="col-6 col-md-4">
			<div class="w-100 p-3 text-center border border-light bg-white">.col-6
				.col-md-4</div>
		</div>
	</div>
	<div class="row no-gutters mt-2">
		<div class="col-6 col-md-4">
			<div class="w-100 p-3 text-center border border-light bg-white">.col-6
				.col-md-4</div>
		</div>
		<div class="col-6 col-md-4">
			<div class="w-100 p-3 text-center border border-light bg-white">.col-6
				.col-md-4</div>
		</div>
		<div class="col-6 col-md-4">
			<div class="w-100 p-3 text-center border border-light bg-white">.col-6
				.col-md-4</div>
		</div>
	</div>
	<div class="row no-gutters mt-2">
		<div class="col-6">
			<div class="w-100 p-3 text-center border border-light bg-white">.col-6</div>
		</div>
		<div class="col-6">
			<div class="w-100 p-3 text-center border border-light bg-white">.col-6</div>
		</div>
	</div>
	<br>
	<h5 class="f-light sub-title">
		<i class="mr-2 fa fa-th"></i>Horizontal alignments
	</h5>
	<div class="container">
		<div class="row justify-content-start ">
			<div class="col-4">
				<div class="w-100 p-3 text-center border border-light bg-white">One
					of two columns</div>
			</div>
			<div class="col-4">
				<div class="w-100 p-3 text-center border border-light bg-white">One
					of two columns</div>
			</div>
		</div>
		<div class="row justify-content-center mt-2">
			<div class="col-4">
				<div class="w-100 p-3 text-center border border-light bg-white">One
					of two columns</div>
			</div>
			<div class="col-4">
				<div class="w-100 p-3 text-center border border-light bg-white">One
					of two columns</div>
			</div>
		</div>
		<div class="row justify-content-end mt-2">
			<div class="col-4">
				<div class="w-100 p-3 text-center border border-light bg-white">One
					of two columns</div>
			</div>
			<div class="col-4">
				<div class="w-100 p-3 text-center border border-light bg-white">One
					of two columns</div>
			</div>
		</div>
		<div class="row justify-content-around mt-2">
			<div class="col-4">
				<div class="w-100 p-3 text-center border border-light bg-white">One
					of two columns</div>
			</div>
			<div class="col-4">
				<div class="w-100 p-3 text-center border border-light bg-white">One
					of two columns</div>
			</div>
		</div>
		<div class="row justify-content-between mt-2">
			<div class="col-4">
				<div class="w-100 p-3 text-center border border-light bg-white">One
					of two columns</div>
			</div>
			<div class="col-4">
				<div class="w-100 p-3 text-center border border-light bg-white">One
					of two columns</div>
			</div>
		</div>
	</div>
	<br>
</div>