<div class="container-fluid">
	<div class="row">
		<div class="container">
			<div class="row page-title-row">
				<div class="col-sm-12 col-md-6">
					<h2 class="page-title">Tables</h2>
					<p>Bootstrap Admin Dashboard Template with wide range
						components</p>
				</div>
				<div class="col-sm-12 col-md-6 text-right align-self-center">
					<button type="button" class="btn btn-success" data-toggle="tooltip"
						title="Buy Now!">
						<i class="fa fa-shopping-cart"></i>
					</button>
					<button type="button" class="btn btn-primary ml-2"
						data-toggle="tooltip" title="Setting" id="theme-setting">
						<i class="fa fa-cogs"></i>
					</button>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="card rounded-0 border-0 mb-4">
				<div class="card-header">
					<div class="row">
						<div class="col-6">
							<h5 class="card-title">
								Employees Statistics 
							</h5>
						</div>
						<div class="col text-right">
							<div class="dropdown" ngbDropdown>
								<button
									class="btn btn-link btn-sm text-secondary rounded-0 dropdown-toggle float-right icon"
									type="button" ngbDropdownToggle>
									<i class="fa fa-ellipsis-v"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
									<a class="dropdown-item" href="#"><i class="fa fa-exclamation-circle text-secondary"></i> Report</a> 
									<a class="dropdown-item" href="#"><i class="fa fa-cog text-secondary"></i> Setting</a> <a
									class="dropdown-item" href="#"><i class="fa fa-trash text-secondary"></i> Remove this</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body p-0">
					<table class="table mb-0 table-bordered footable">
						<thead>
							<tr>
								<th>Pic</th>
								<th>Name</th>
								<th data-breakpoints="xs sm">Income</th>
								<th data-breakpoints="xs sm md">Current Task</th>
								<th data-breakpoints="xs sm md">Assinged Task</th>
								<th>Status</th>
								<th data-breakpoints="xs sm" class="text-right">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<figure	class="avatar40 rounded-circle align-self-start bg-success text-white">A</figure>
								</td>
								<td>
									<h5>clan Smith</h5>
								</td>
								<td>
									<h5>$ 32655</h5>
								</td>
								<td>Doing fentastic work every day</td>
								<td>10 Tasks</td>
								<td><span class="text-dark">Done</span></td>
								<td class="text-right"><button
										class="btn btn-success btn-sm">Submit</button></td>
							</tr>
							<tr>
								<td>
									<figure	class="avatar40 rounded-circle align-self-start bg-danger text-white">M</figure>
								</td>
								<td>
									<h5>Janelia D'souza</h5>
								</td>
								<td>
									<h5>$ 32655</h5>
								</td>
								<td>Doing fentastic work every day</td>
								<td>10 Tasks</td>
								<td><span class="text-success">Completed</span></td>
								<td class="text-right"><button
										class="btn btn-danger btn-sm">Close</button></td>
							</tr>
							<tr>
								<td>
									<figure class="avatar40 rounded-circle align-self-start">
										<img src="../assets/img/user5.png"
											alt="Generic placeholder image" class="mCS_img_loaded">
									</figure>
								</td>
								<td>
									<h5>Astha Johnson</h5>
								</td>
								<td>
									<h5>$ 32655</h5>
								</td>
								<td>Doing fentastic work every day</td>
								<td>10 Tasks</td>
								<td><span class="text-warning">Pending</span></td>
								<td class="text-right"><button
										class="btn btn-primary btn-sm">In-Progress</button></td>
							</tr>
							<tr>
								<td>
									<figure class="avatar40 rounded-circle align-self-start bg-primary text-white">S</figure>
								</td>
								<td>
									<h5>Maxartkiller</h5>
								</td>
								<td>
									<h5>$ 32655</h5>
								</td>
								<td>Doing fentastic work every day</td>
								<td>10 Tasks</td>
								<td><span class="text-primary">In-Progress</span></td>
								<td class="text-right"><button	class="btn btn-success btn-sm">Done</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
