<div class="container-fluid">
	<div class="row">
		<div class="container">
			<div class="row page-title-row">
				<div class="col-sm-12 col-md-6">
					<h2 class="page-title">Charts</h2>
					<p>Bootstrap Admin Dashboard Template with wide range components</p>
				</div>
				<div class="col-sm-12 col-md-6 text-right align-self-center">
					<button type="button" class="btn btn-success" data-toggle="tooltip"
						title="Buy Now!">
						<i class="fa fa-shopping-cart"></i>
					</button>
					<button type="button" class="btn btn-primary ml-2"
						data-toggle="tooltip" title="Setting" id="theme-setting">
						<i class="fa fa-cogs"></i>
					</button>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="card rounded-0 border-0 mb-4">
				<div class="card-header">
					<h5 class="card-title  pull-left">
						Production <small>Chart js Chart </small>
					</h5>
				</div>
				<div class="card-body">
					<canvas baseChart [datasets]="barChartData"
						[labels]="barChartLabels" [options]="barChartOptions"
						[legend]="barChartLegend" [chartType]="barChartType"
						(chartHover)="chartHovered($event)"
						(chartClick)="chartClicked($event)">
                    </canvas>
				</div>
				<div class="card-footer">
					<button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div class="card rounded-0 border-0 mb-4">
				<div class="card-header">
					<h5 class="card-title  pull-left">
						Production <small>Chart js Chart </small>
					</h5>
				</div>
				<div class="card-body">
					<canvas baseChart height="180px" [data]="doughnutChartData"
						[labels]="doughnutChartLabels" [chartType]="doughnutChartType"
						(chartHover)="chartHovered($event)"
						(chartClick)="chartClicked($event)">
                    </canvas>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="card rounded-0 border-0 mb-4">
				<div class="card-header">
					<h5 class="card-title  pull-left">
						Production <small>Chart js Chart </small>
					</h5>
				</div>
				<div class="card-body">
					<canvas baseChart height="150px" [datasets]="radarChartData"
						[labels]="radarChartLabels" [chartType]="radarChartType"
						(chartHover)="chartHovered($event)"
						(chartClick)="chartClicked($event)">
                    </canvas>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div class="card rounded-0 border-0 mb-4">
				<div class="card-header">
					<h5 class="card-title  pull-left">
						Production <small>Chart js Chart </small>
					</h5>
				</div>
				<div class="card-body">
					<canvas baseChart height="150px" [data]="pieChartData"
						[labels]="pieChartLabels" [chartType]="pieChartType"
						(chartHover)="chartHovered($event)"
						(chartClick)="chartClicked($event)">
                    </canvas>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="card rounded-0 border-0 mb-4">
				<div class="card-header">
					<h5 class="card-title  pull-left">
						Production <small>Chart js Chart </small>
					</h5>
				</div>
				<div class="card-body">
					<canvas baseChart height="130px" [data]="polarAreaChartData"
						[labels]="polarAreaChartLabels" [legend]="polarAreaLegend"
						[chartType]="polarAreaChartType"
						(chartHover)="chartHovered($event)"
						(chartClick)="chartClicked($event)">
                    </canvas>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div class="card rounded-0 border-0 mb-4">
				<div class="card-header">
					<h5 class="card-title  pull-left">
						Production <small>Chart js Chart </small>
					</h5>
				</div>
				<div class="card-body">
					<canvas baseChart height="130" [datasets]="lineChartData"
						[labels]="lineChartLabels" [options]="lineChartOptions"
						[colors]="lineChartColors" [legend]="lineChartLegend"
						[chartType]="lineChartType" (chartHover)="chartHovered($event)"
						(chartClick)="chartClicked($event)">
                    </canvas>
				</div>
			</div>
		</div>
	</div>
</div>
