
<div class="container-fluid">
					<div class="row">
						<div class="container">
							<div class="row page-title-row">
								<div class="col-sm-12 col-md-6">
									<h2 class="page-title">ngBootstrap Component</h2>
									<p>Bootstrap Admin Dashboard Template with wide range components</p>
								</div>
								<div class="col-sm-12 col-md-6 text-right align-self-center">									
									<button type="button" class="btn btn-success" data-toggle="tooltip" title="Buy Now!"><i class="fa fa-shopping-cart"></i></button>
									<button type="button" class="btn btn-primary ml-2" data-toggle="tooltip" title="Setting" id="theme-setting"><i class="fa fa-cogs"></i></button>
								</div>
							</div>

						</div>
					</div>
				</div>
				
<div class="container">				
<div class="row">
 	 <div class="col-12"> <app-modal></app-modal></div>
</div>
<div class="row">
    <div class="col-12"><app-alert></app-alert></div>
    <div class="col-12"><app-buttons></app-buttons></div>
</div>
<div class="row">
   <div class="col-sm-12 col-md-6"><app-collapse></app-collapse></div>
   <div class="col-sm-12 col-md-6"> <app-date-picker></app-date-picker></div>
</div>
<div class="row">
    <div class="col-12"><app-dropdown></app-dropdown></div>
    <div class="col-12"><app-pagination></app-pagination></div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6"><app-pop-over></app-pop-over></div>
    <div class="col-sm-12 col-md-6"><app-progressbar></app-progressbar></div>
</div>
<div class="row">
    <div class="col-12"><app-tabs></app-tabs></div>
    <div class="col-12"><app-tooltip></app-tooltip></div>
</div>
<div class="row">
    <div class="col-12 col-md-12"><app-timepicker></app-timepicker></div>
    <div class="col-12 col-md-12"><app-rating></app-rating></div>
</div>
</div>