<div class="title">
	<i class="fa fa-subway text-primary"></i> Highlights
</div>

<ngb-tabset > <ngb-tab> <ng-template ngbTabTitle>
<i class="fa fa-rocket"></i></ng-template> <ng-template ngbTabContent>
<h4 class="capstitle text-uppercase">New Friend Request</h4>
<div class="list-unstyled userlist">
	<div class="item">
		<a class="media" href="#">
			<figure class="avatar30 rounded-circle z2 align-self-start">
				<img src="assets/img/user2.png" alt="Generic placeholder image">
			</figure>
			<div class="media-body">
				<h5 class="time-title">
					John Smith <small class="float-right">1 min ago</small>
				</h5>
				New Jersey, UK
			</div>
		</a>
		<div class="button-wrap">
			<button type="button" class="btn btn-danger sq-btn">
				<i class="fa fa-close"></i>
			</button>
			<button type="button" class="btn btn-success sq-btn">
				<i class="fa fa-check"></i>
			</button>
		</div>
	</div>

	<div class="item">
		<a class="media" href="#">
			<figure class="avatar30 rounded-circle z2 align-self-start">
				<img src="assets/img/user4.png" alt="Generic placeholder image">
			</figure>
			<div class="media-body">
				<h5 class="time-title">
					John Smith <small class="float-right">1 min ago</small>
				</h5>
				New Jersey, UK
			</div>
		</a>
		<div class="button-wrap">
			<button type="button" class="btn btn-danger sq-btn">
				<i class="fa fa-close"></i>
			</button>
			<button type="button" class="btn btn-success sq-btn">
				<i class="fa fa-check"></i>
			</button>
		</div>
	</div>
</div>
<br>
<hr>
<h4 class="capstitle text-uppercase">Last Message</h4>
<div class="list-unstyled userlist">
	<div class="item">
		<div class="media">
			<figure class="avatar30 rounded-circle z2 align-self-start">
				<img src="assets/img/user4.png" alt="Generic placeholder image">
			</figure>
			<div class="media-body">
				<h5 class="time-title">
					Tommy Boyoth <small><i class="circle-dot bg-warning"></i>
						Away</small>
				</h5>
				<p>New Jersey, UK</p>
				Hi! Are you ready for Musical night festival seasons, Drama and
				comedy cultural family show.<br> <br>
				<button class="btn btn-sm btn-primary">
					<i class="fa fa-reply"></i> Reply
				</button>
				<button class="btn btn-sm btn-outline-danger">Dismiss</button>
			</div>
		</div>
	</div>
</div>
<hr>
<h4 class="capstitle text-uppercase">Advertizing Block</h4>
<figure class="w-100 text-center m-0 col">
	<img src="assets/img/maxartkiller_website.png" class="mw-100"
		alt="maxartkiller, max art killer, web and ui designs">
	<figcaption>
		<a class="text-center" href="www.maxartkiller.in" target="_blank">www.maxartkiller.in</a>
	</figcaption>
</figure>

</ng-template> </ngb-tab>

 <ngb-tab> <ng-template ngbTabTitle> <i
	class="fa fa-comments"></i></ng-template> <ng-template ngbTabContent>
<div class="list-unstyled userlist">
	<a class="item" href="#">
		<div class="media">
			<figure class="avatar36 rounded-circle z2 align-self-start mr-3">
				<img src="assets/img/user2.png" alt="Generic placeholder image">
			</figure>
			<div class="media-body">
				<h5 class="time-title">
					John Doe <small class="float-right">1 min ago</small>
				</h5>
				Sent a message
			</div>
		</div>
	</a> <a class="item" href="#">
		<div class="media">
			<figure class="avatar36 rounded-circle z2 align-self-start mr-3">
				<img src="assets/img/user3.png" alt="Generic placeholder image">
			</figure>
			<div class="media-body">
				<h5 class="time-title">
					<span class="circle-dot bg-warning"></span>Astha Anwar <small
						class="float-right">1 min ago</small>
				</h5>
				Sent a message
			</div>
		</div>
	</a> 
	<a class="item" href="#">
		<div class="media">
			<figure class="avatar36 rounded-circle z2 align-self-start mr-3">
				<img src="assets/img/user1.png" alt="Generic placeholder image">
			</figure>
			<div class="media-body">
				<h5 class="time-title">
					<span class="circle-dot bg-danger"></span>Maxartkiller <small
						class="float-right">1 min ago</small>
				</h5>
				Sent a message
			</div>
		</div>
	</a> <a class="item" href="#">
		<div class="media">
			<figure class="avatar36 rounded-circle z2 align-self-start mr-3">
				<img src="assets/img/user4.png" alt="Generic placeholder image">
			</figure>
			<div class="media-body">
				<h5 class="time-title">
					<span class="circle-dot bg-success"></span>Tommy Bayoth <small
						class="float-right">1 hour ago</small>
				</h5>
				Sent a message
			</div>
		</div>
	</a> <a class="item" href="#">
		<div class="media">
			<figure class="avatar36 rounded-circle z2 align-self-start mr-3">
				<img src="assets/img/user1.png" alt="Generic placeholder image">
			</figure>
			<div class="media-body">
				<h5 class="time-title">
					<span class="circle-dot bg-danger"></span>Maxartkiller <small
						class="float-right">1 min ago</small>
				</h5>
				Sent a message
			</div>
		</div>
	</a> <a class="item" href="#">
		<div class="media">
			<figure class="avatar36 rounded-circle z2 align-self-start mr-3">
				<img src="assets/img/user4.png" alt="Generic placeholder image">
			</figure>
			<div class="media-body">
				<h5 class="time-title">
					<span class="circle-dot bg-success"></span>Tommy Bayoth <small
						class="float-right">1 hour ago</small>
				</h5>
				Sent a message
			</div>
		</div>
	</a>
</div>
</ng-template> </ngb-tab> </ngb-tabset>


