	<div class="card rounded-0 border-0 mb-4">
            <div class="card-header"><h5 class="card-title"> Radio Button group (<strong>Using ngModel</strong>)</h5>
            </div>
            <div class="card-body">
                <div class="btn-group btn-group-toggle mb-3" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
                    <label ngbButtonLabel class="btn-primary">
                        <input ngbButton type="radio" [value]="1"> Left (pre-checked)
                    </label>
                    <label ngbButtonLabel class="btn-primary">
                        <input ngbButton type="radio" value="middle"> Middle
                    </label>
                    <label ngbButtonLabel class="btn-primary">
                        <input ngbButton type="radio" [value]="false"> Right
                    </label>
                </div>
                <div class="alert alert-info mb-0">
                    <strong>Selected Value: </strong>{{model}}
                </div>
            </div>
        </div>
	<div class="card rounded-0 border-0 mb-4">
            <div class="card-header"><h5 class="card-title"> Radio Button group (<strong>Ractive Forms</strong>)</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="radioGroupForm" class="mb-3">
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="1"> Left (pre-checked)
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="middle"> Middle
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="false"> Right
                        </label>
                    </div>
                </form>
                <div class="alert alert-info mb-0">
                    <strong>Selected Value: </strong>{{radioGroupForm.value.model}}
                </div>
                <!-- <form [formGroup]="radioGroupForm">
                    <div ngbRadioGroup name="radioBasic" formControlName="model">
                        <label class="btn btn-primary">
                            <input type="radio" [value]="1"> Left (pre-checked)
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" value="middle"> Middle
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" [value]="false"> Right
                        </label>
                    </div>
                </form> -->
            </div>
        </div>

