
	<div class="container-fluid mb-4 position-relative">
		<div class="row">
			<div class="container py-2">
				<div class="row page-title-row">
					<div class="col-sm-12 col-md-6">
						<h2 class="page-title">Angular Start Kit</h2>
						<p class="text-secondary">Start with HTML Start kit with very
							basic elements on page</p>
					</div>
					<div class="col-sm-12 col-md-6 text-right align-self-center">
						<button type="button" class="btn btn-success"
							data-toggle="tooltip" title="Buy Now!">
							<i class="fa fa-shopping-cart"></i>
						</button>
						<button type="button" class="btn btn-primary ml-2"
							data-toggle="tooltip" title="Setting" id="theme-setting">
							<i class="fa fa-cogs"></i>
						</button>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Begin page content -->
	<div class="container">Content goes here!</div>
